@model Assignment2.Models.BreakfastOrder

@{
    ViewData["Title"] = "CreateBreakfastOrder";
}

<h1>CreateBreakfastOrder</h1>

<h4>BreakfastOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ReceptionView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountAdults" class="control-label"></label>
                <input asp-for="AmountAdults" class="form-control" />
                <span asp-validation-for="AmountAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountKids" class="control-label"></label>
                <input asp-for="AmountKids" class="form-control" />
                <span asp-validation-for="AmountKids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

