@model Assignment2.Models.ReceptionViewModel
@{
    ViewData["Title"] = "ReceptionView";
}

<div class="col-8">
    <div class="row">
        <a class="btn btn-primary" asp-controller="Home" asp-action="CreateBreakfastOrder">Create Breakfast Order</a>
    </div>

    <div class="row">
        <h2>Checked in to breakfast</h2>
    </div>
    <div class="row border-dark border">
        <div class="col border-dark border-right">
            Room Number:
        </div>
        <div class="col border-dark border-right">
            Adults
        </div>
        <div class="col border-dark">
            Kids
        </div>
    </div>
    @foreach (var order in Model.BreakfastOrders)
    {
        @if (order.KidsCheckedIn != 0 && order.AdultsCheckedIn != 0)
        {
            <div class="row border-dark border border-top-0">
                <div class="col border-dark border-right">
                    @order.RoomNumber
                </div>
                <div class="col border-dark border-right">
                    @order.AdultsCheckedIn
                </div>
                <div class="col border-dark">
                    @order.KidsCheckedIn
                </div>
            </div>
        }
    }
</div>

